<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css" />

<div class="container">
    <h1 class="heading-center">Today's Weather</h1>
    <!-- Input for the city -->
    <div class="search-bar-container">
        <input type="text" [(ngModel)]="city" placeholder="Enter city" class="input-field" />
        <button (click)="getCurrentWeather()" class="button">Get Current Weather</button>
        <button (click)="saveFavoriteLocation()" class="button-star"><mat-icon>star</mat-icon></button>
    </div>
    </div>
    <button (click)="navigateToHome()" class="home-icon-button">
        <mat-icon class="home-icon">home</mat-icon>
    </button>

    <!-- Display weather data as a card -->
    <div *ngIf="weatherData" class="weather-card">
        <h2>Weather Data for {{ weatherData.address }}</h2>
        <p>Description: {{ weatherData.description }}</p>
        <p>Latitude: {{ weatherData.latitude }}</p>
        <p>Longitude: {{ weatherData.longitude }}</p>
        <p>Timezone: {{ weatherData.timezone }}</p>
      
        <div class="forecast-box daily-forecast">
        <!-- Daily weather forecast -->
        <div *ngIf="weatherData.days" class="daily-forecast">
            <h2>Daily Forecast</h2>
            <div class="forecast-box">
                <ul>
                    <li *ngFor="let day of weatherData.days" class="day-item">
                        <h4>Date: {{ day.datetime | date: 'fullDate' }}</h4>
                        <div>
                            <div *ngIf="!showAllData">
                                <p><i class="wi wi-thermometer"></i> Max Temp: {{ day.tempmax }}°C</p>
                                <p><i class="wi wi-thermometer"></i> Min Temp: {{ day.tempmin }}°C</p>
                                <p><i class="wi wi-thermometer"></i> Temp: {{ day.temp }}°C</p>
                                <p><i class="wi wi-raindrop"></i> Precipitation: {{ day.precip }} mm</p>
                                <p><i class="wi wi-sunrise"></i> Sunrise: {{ day.sunrise }}</p>
                                <p><i class="wi wi-sunset"></i> Sunset: {{ day.sunset }}</p>
                                <p><i class="wi wi-day-cloudy"></i> Conditions: {{ day.conditions }}</p>
                            </div>
                            <div *ngIf="showAllData">
                                <p><i class="wi wi-dewpoint"></i> Dew: {{ day.dew }}°C</p>
                                <p><i class="wi wi-humidity"></i> Humidity: {{ day.humidity }}%</p>
                                <p><i class="wi wi-raindrop"></i> Precipitation: {{ day.precip }} mm</p>
                                <p><i class="wi wi-snow"></i> Snow: {{ day.snow }} mm</p>
                                <p><i class="wi wi-strong-wind"></i> Wind Speed: {{ day.windspeed }} km/h</p>
                                <p><i class="wi wi-wind"></i> Wind Direction: {{ day.windDir }}°</p>
                                <p><i class="wi wi-barometer"></i> Pressure: {{ day.pressure }} hPa</p>
                                <p><i class="wi wi-cloud"></i> Cloud Cover: {{ day.cloudcover }}%</p>
                                <p><i class="wi wi-thermometer-exterior"></i> Visibility: {{ day.visibility }} km</p>
                                <p><i class="wi wi-sunrise"></i> UV Index: {{ day.uvindex }}</p>
                                <p><i class="wi wi-cloudy"></i> Conditions: {{ day.conditions }}</p>
                            </div>
                            <div>
                                <button (click)="toggleShowAllData()">
                                    {{ showAllData ? 'Hide Details' : 'More Details' }}
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <!-- <div class="forecast-box hourly-forecast-container"></div> -->
       <!-- Hourly forecast section -->
<div *ngIf="weatherData.days[0].hours" class="hourly-forecast">
    <h2>Hourly Forecast</h2>
    <div class="hourly-forecast-container">
        <ul class="forecast-row">
            <li *ngFor="let hour of weatherData.days[0].hours" class="hour-item">
                <h4>Time: {{ hour.datetime }}</h4>
                <p><i class="wi wi-thermometer"></i> Temp: {{ hour.temp }}°C</p>
                <p><i class="wi wi-humidity"></i> Humidity: {{ hour.humidity }}%</p>
                <p><i class="wi wi-raindrop"></i> Precipitation: {{ hour.precip }} mm</p>
                <p><i class="wi wi-snow"></i> Snow: {{ hour.snow }} mm</p>
                <p><i class="wi wi-day-cloudy"></i> Conditions: {{ hour.conditions }}</p>
            </li>
        </ul>
    </div>
</div>

</div>
