<div class="page-container">
    <!-- Title and tagline -->
    <div class="header-container">
        <h1 class="brand-name">Weather Wave</h1>
        <p class="tagline">Surf the forecast with ease!</p>
    </div>

    <!-- Weather card container -->
    <div class="weather-card">
        <h2 class="funky-header">Weather Dashboard</h2>
        <p>Welcome to your personalized weather dashboard! Explore current weather conditions, forecasts, and historical data.</p>
        <div class="button-group">
            <button (click)="navigateToCurrentWeather()">Current Weather</button>
            <button (click)="navigateToForecast()">Forecast</button>
            <button (click)="navigateToHistory()">Weather History</button>
        </div>
    </div>
</div>
<div class="footer-container">
    <div class="copyright-text">
        <mat-icon>copyright</mat-icon>
        <span>© 2024 Your Weather Wave. All rights reserved.</span>
    </div>
    <div class="icon-container">
        <mat-icon>email</mat-icon>
        <mat-icon>phone</mat-icon>
        <mat-icon>facebook</mat-icon>
        <mat-icon>instagram</mat-icon>
    </div>
    
</div>