<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css" />

<div class="forecast-container">
    <!-- Home icon at top left without background -->
    <button (click)="navigateToHome()" class="home-icon-button">
        <mat-icon class="home-icon">home</mat-icon>
    </button>

    <!-- Forecast heading at top center -->
    <h2 class="forecast-heading">Forecast</h2>
    <h3>Weather for next 15days</h3>

    <!-- Search bar and button below forecast heading -->
    <div class="search-bar-container">
        <input type="text" [(ngModel)]="city" placeholder="Enter city" />
        <button (click)="getForecast()">Search</button>
    </div>

    <!-- Display forecast data -->
    <div *ngIf="forecastData" class="forecast-display">
        <h2 class="city-name"><i class="wi wi-city"></i> City: {{ forecastData.address }}</h2>
      
        <div class="forecast-list-container">
            
            <!-- Loop through forecast days with horizontal scrolling -->
            <ul class="forecast-list">
                <li *ngFor="let day of forecastData.days" class="forecast-day">
                    <p><strong>Date:</strong> {{ day.datetime | date: 'fullDate' }}</p>
                    <p><i class="wi wi-thermometer"></i> Max Temp: {{ day.tempmax }}°C</p>
                    <p><i class="wi wi-thermometer"></i> Min Temp: {{ day.tempmin }}°C</p>
                    <p><i class="wi wi-thermometer"></i> Temp: {{ day.temp }}°C</p>
                    <p><i class="wi wi-humidity"></i> Humidity: {{ day.humidity }}%</p>
                    <p><i class="wi wi-raindrop"></i> Precipitation: {{ day.precip }} mm</p>
                    <p><i class="wi wi-snow"></i> Snow: {{ day.snow }} mm</p>
                    <p><i class="wi wi-cloudy"></i> Conditions: {{ day.conditions }}</p>
                    <p><i class="wi wi-sunrise"></i> Sunrise: {{ day.sunrise }}</p>
                    <p><i class="wi wi-sunset"></i> Sunset: {{ day.sunset }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-container">
    <div class="copyright-text">
        <mat-icon>copyright</mat-icon>
        <span>© 2024 Your Weather Wave. All rights reserved.</span>
    </div>
    <div class="icon-container">
        <mat-icon>email</mat-icon>
        <mat-icon>phone</mat-icon>
        <mat-icon>facebook</mat-icon>
        <mat-icon>instagram</mat-icon>
    </div>
    
</div>